
/* formatting for the location (bottom) and color of the footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1%;
    background-color: rgb(156, 156, 156);
    color: white;
    text-align: center;
  }

  /* putting a margin around rows for spacing */
  .row {
      margin-bottom: 10px;
  }

  /* putting a left margin on containers to space them from the edge of the screen */
.container-fluid {

    margin-left: 20px;
}